{% extends 'shared/master.html' %}
{% load widget_tweaks %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="content">
        <div class="text">
            Login Form
        </div>
        <form method="post">
            {% csrf_token %}
            {# errors #}
            <div class="field">

                {% if form.email.errors is not Null %}

                    {% for error in form.email.errors %}

                        <p>{{ form.email.errors }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <br>
            <br>
            <div class="field">
                {#                <input type="text" name="phone" required>#}
                {% render_field form.email|append_attr:"" type="email" placeholder="email address" %}
                <span class="fas fa-envelope"></span>
                {#                <label>email address</label>#}
            </div>
            <br>
            <div class="field">
                {#                <input type="password" name="password" required>#}
                {% render_field form.password|append_attr:"" type="password" placeholder="password" %}
                <span class="fas fa-lock"></span>

            </div>
            <div class="forgot-pass">
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit">Sign in</button>
            <div class="sign-up">
                Not a member?
                <a href="#">signup now</a>
            </div>
        </form>
    </div>
{% endblock %}