{% extends 'shared/master.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="content">
        <div class="text">
            Register Form
        </div>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="field">
                {{ form.email }}
                <span class="fas fa-mail-bulk"></span>
{#                <label>Email</label>#}
            </div>
            <br>
{#            <div class="field">#}
{#                {{ form.password }}#}
{#                <span class="fas fa-lock"></span>#}
{#                <label>Password</label>#}
{#            </div>#}
{#            <br>#}
{#            <div class="field">#}
{#                <input type="password" name="password2" required>#}
{#                <span class="fas fa-lock"></span>#}
{#                <label>Confrim password</label>#}
{#            </div>#}
            <br>
            <button type="submit" >Register</button>
            <div class="sign-up">
                Already have an account.
                <a href="{% url 'account:login_url' %}">login now</a>
            </div>
        </form>
    </div>
{% endblock %}